<ion-view>
    <ion-header-bar align-title="center" class="bar-energized">
        <h1 class="title">Highscores</h1>
    </ion-header-bar>
    <ion-content>
        <div ng-repeat="d in DIFFICULTIES">
            <div ng-repeat="s in SIZES">
                <div class="card" ng-repeat="h in HIGHSCORES" ng-if="!isEmpty(h,d,s)">

                    <div class="item row royal-bg">
                        <div class="col text-center subheader-text light-text">{{ d.name | uppercase }}</div>
                        <div class="col text-center subheader-text light-text">{{ s.r + "x" + s.c }}</div>
                    </div>

                    <div class="item highscore-cardcontainer">
                        <table class="highscore-table">
                            <tr>
                                <th class="padding-top padding-bottom">Name</th>
                                <th class="padding-top padding-bottom">Time</th>
                                <th class="padding-top padding-bottom">Moves</th>
                            </tr>
                            <tr ng-repeat="item in vals(h,d,s)">
                                <td class="padding-top padding-bottom">{{ item.name }}</td>
                                <td class="padding-top padding-bottom">{{ item.val.time | formatTime }}</td>
                                <td class="padding-top padding-bottom">{{ item.val.moves }}</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="popup-buttons">
            <button class="button button-assertive button-block" ng-click="clearHighScores()">Clear highscores</button>
            <button class="button button-positive button-block" ng-click="home()">Back to Home</button>
        </div>
    </ion-content>
</ion-view>