<ion-view>
    <ion-pane>
        <div>
            <div class="text-center title-div"></div>
        </div>
        <div class="main-buttons">
            <div class="row">
                <button class="button col col-offset-10 col-80 button-assertive"
                        ng-click="goTo('schema')" ng-disabled="!isContinueEnabled()">Continue
                </button>
            </div>
            <div class="padding-bottom"></div>
            <div class="row">
                <button class="button col col-offset-10 col-80 button-positive"
                        ng-click="goTo('choose_schema')">New Game
                </button>
            </div>
            <div class="padding-bottom"></div>
            <div class="row">
                <button class="button col col-offset-10 col-80 button-balanced"
                        ng-click="goTo('highscores')">High Scores
                </button>
            </div>
            <div class="padding-bottom"></div>
            <div class="row">
                <button class="button col col-offset-10 col-80 button-royal"
                        ng-click="goTo('howtoplay')">How to Play
                </button>
            </div>
        </div>
    </ion-pane>
</ion-view>