<ion-view>
    <ion-pane>
        <div class="row responsive-lg main-row">
            <div class="col img-col">
                <div class="img-title"></div>
            </div>
            <div class="col button-col">
                <div class="row button-row">
                    <button class="button button-assertive"
                            ui-sref="schema" ng-disabled="!mainCtrl.isContinueEnabled()">Continue
                    </button>
                    <button class="button button-positive"
                            ui-sref="choose_schema">New Game
                    </button>
                    <button class="button button-balanced"
                            ui-sref="highscores">High Scores
                    </button>
                    <button class="button button-royal"
                            ui-sref="howtoplay">How to Play
                    </button>
                </div>
            </div>
        </div>
    </ion-pane>
</ion-view>