<ion-view>
    <ion-header-bar align-title="center" class="bar-assertive" ng-class="{'bar-balanced': completed}">
        <h1 class="title">
            {{ level.name + " - " + size.r + "x" + size.c }}
        </h1>
    </ion-header-bar>
    <div class="bar bar-subheader row">
        <div class="col text-center subheader-text">Moves: {{ moves }}</div>

        <div class="col text-center subheader-text">Resets: {{ resets }}</div>

        <div class="col text-center subheader-text">{{ current_time | formatTime }}</div>
    </div>

    <ion-content class="has-subheader">
        <ion-refresher pulling-text="Pull to reset level..."
                       on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list> <!-- needed for ion-refresher -->
            <div id="content">
                <div id="end_text" ng-show="completed">
                    <h1 class="text-center balanced">Completed! :)</h1>
                </div>
                <table>
                    <tr ng-repeat="i in [0, matrix.length] | makeRange">
                        <td ng-repeat="j in [0, matrix[0].length] | makeRange"
                            ng-click="clicked(i, j)">
                            <div class="cell-container" ng-class="{flipped: matrix[i][j]}">
                                <div class="cell-flipper">
                                    <div class="on-cell"></div>
                                    <div class="off-cell"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="popup-buttons">
                    <button class="button button-balanced" ng-click="undo()" ng-disabled="lastMove === null">
                        Undo Last Move
                    </button>
                    <button class="button button-assertive" ng-click="home()">Back to Home</button>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>