/* highscores.html */

$table-bg: #cccccc;

.highscore-cardcontainer {
  padding-top: 0;
  background-color: $table-bg;
}

.highscore-table {
  width: 100%;
  background-color: $table-bg;
  table-layout: fixed;

  tr {
    display: table-row;
    background-color: $table-bg;
  }

  th {
    font-weight: bold;
  }

  th, td {
    text-align: center;
  }
}
