/* various */
.subheader-text {
  font-weight: bold;
  font-size: 1.1em;
}

.light-text {
  color: white;
}

@for $i from 0 through 100 {
  .height-#{$i} {
    height: percentage($i/100);
  }
}

.item.wrap, .item-content.wrap {
  white-space: normal;
}

.img-vert-middle {
  vertical-align: middle;
}

.large-text {
  font-size: 16px
}

.caption{
  display: block;
}

.auto-margin {
  margin: auto;
}